<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td><a href="https://pad.carpentries.org/GGxF0M1FcfZn7uXjz4OA">Day 1 etherpad</a> </td> </tr>
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey (one survey for all 4 sessions)</a></td> </tr>   
      <tr> <td>9:30</td>  <td>Join the Zoom session early for help installing required software</td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Jargon Busting, A Computational Approach, Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>11:30</td>  <td>Mid-session break</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey (one survey for all 4 sessions)</a></td> </tr>   
      <tr> <td>9:30</td>  <td>Join the Zoom session early for help installing required software</td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell</a></td> </tr>
      <tr> <td>11:30</td>  <td>Mid-session break</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey (one survey for all 4 sessions)</a></td> </tr>   
      <tr> <td>9:30</td>  <td>Join the Zoom session early for help installing required software</td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data for Librarians</a></td> </tr>
      <tr> <td>11:30</td>  <td>Mid-session break</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey (one survey for all 4 sessions)</a></td> </tr>   
      <tr> <td>9:30</td>  <td>Join the Zoom session early for help installing required software</td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git</a></td> </tr>
      <tr> <td>11:30</td>  <td>Mid-session break</td> </tr>
      <tr> <td>12:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
